@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  background-image: url(images/fundo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
  font-family: 'Poppins';
}

img {
  width: 350px;
  box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.336);
}

#nome-livro {
  width: 220px;
  text-align: center;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  transition: .4s;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#anterior, #proximo {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button:hover {
  transform: scale(1.1);
}